.bld
.cmd
.cmd_log
.csv
.dasm
.dat
.exe
.gise
.html
.ini
.log
.lso
.map
.mem
.mrp
.ncd
.ngc
.ngd
.ngm
.ngr
.pad
.par
.pcf
.pl
.prj
.ptwx
.sh
.stx
.syr
.twr
.twx
.unroutes
.wcfg
.wdb
.xise
.xml
_xmsgs
.xmsgs
.xpi
.xrpt
xst
